
<div id="masthead">
  <h1>Sistema Financeiro de Supermecado - Mercado São Caetano</h1>
  <h2><%= link_to 'Perfil', funcionarios_perfil_path %> | <%= link_to 'Contato', padrao_contato_path %> | <%= link_to 'Sair', logins_sair_path %> </h2>
</div>